<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<form th:method="POST" th:action="@{/books/search}">
    <label for="query">Input search</label>
    <input type="text" id="query" name="prefix">
    <br/>
    <input type="submit" value="Search">
</form>

<div th:if="${books}">
    <div th:if="${books.isEmpty()}">
        <span>Books not found</span>
    </div>

    <div th:each="book : ${books}">
        <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</p>
        <div th:if="${book.getOwner() != null}">
            <span>Book owner: </span> <span th:text="${book.getOwner().getFullName()}"></span>
        </div>
        <div th:if="${book.getOwner() == null}">
            <span>Book is not reserve: </span>
        </div>
        <hr/>
    </div>
</div>

</body>
</html>